body{
background-color: rgb(228, 202, 117);
}

h1{
color: rgb(224, 217, 116);
background:rgba(182, 134, 30, 0.836);
font-size: 60px;
font-family: sans-serif;
}


p{
color:black;
font-family: sans-serif;
font-size: 50px;
}

#gabi {
    width: 100%;
}