body{
background-color: rgb(245, 3, 104);
}

h1{
color: pink;
background:rgb(168, 2, 58);
font-size: 60px;
font-family: sans-serif;
}


p{
color:black;
font-family: sans-serif;
font-size: 50px;
}

#gabi {
    width: 100%;
}